

.user-form{
    display: flex;
    justify-content: center;
    align-items: center;


    .user-input{
        max-width: 50%;
        font-size: 1rem;
        @media screen and (min-width: 800px) {
            width: 30%;
        }
    }
}

.drinks-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .drink{
        margin: 0 auto;
        text-align: center;
        padding: 0.5rem 0;
        margin-top: 1rem;
        
        img{
            max-width: 60%;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
}